<footer>
    <div class="container">
        <div class="row g-5">
            <div class="col-sm-12 col-md-6">
                <h2>Horario</h2>
                <p>Comidas de 1.30 h a 16.30 h.</p>
                <p>Cenas de 20.30 h a 23.30 h.</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h2>Contacto</h2>
                37300 Peñaranda de Bte. <br>
                Salamanca (SPAIN)<br>
                T: +34 923 54 02 03<br>
                <a href="mailto:info@lascabanas.es">info@lascabanas.es</a>
            </div>
        </div>
    </div>
</footer>