@import "../partials/colors";

header {
    background-color: $primarioOscuro;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
  
}
nav {
    background-color: $primario;
    display: flex;
    width: 100%;

    .container-fluid {
        background-color: $primario;
        display: flex;
    }

    .navbar-nav {
        display: flex;
        background-color: $primario;

        .nav-item {
            &:hover {
                background-color: $primarioOscuro;
            }

        }
    }

    .activo {
        background-color: $primarioClaro;

        &:hover {
            background-color: $primarioOscuro;
        }
    }
}