<div class="container">
    <h1>Nuestros platos.</h1>
</div>
<div class="container" id="general">
    <div class="container">
        <h2>El imperio de los sentidos</h2>
        <h3>Con cuerpo, con alma...</h3>
        <p>
            En cada plato reservamos un espacio para la creatividad, sin perder de vista la tradición, que enriquece
            nuestro paladar. El producto, principalmente de la tierra, se cuida con esmero para no perder lo que más
            amamos: la calidad.
        </p>
    </div>
    <div class="row g-5">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">

                <picture>
                    <img sizes="(max-width: 800px) 100vw, 800px" srcset="
                ./assets/imagenes/Mains/entrantes-1_mxvyoy_c_scale,w_200.jpg 200w,
                ./assets/imagenes/Mains/entrantes-1_mxvyoy_c_scale,w_623.jpg 623w,
                ./assets/imagenes/Mains/entrantes-1_mxvyoy_c_scale,w_800.jpg 800w"
                        src="./assets/imagenes/Mains/entrantes-1_mxvyoy_c_scale,w_800.jpg" alt="" class="card-img-top">
                </picture>

                <div class="card-body">
                    <h5 class="card-title">Entrantes</h5>
                    <div class="container">
                        <table>
                            <tr>
                                <th> Plato</th>
                                <th> Precio</th>
                            </tr>
                            <tr *ngFor="let item of entrantes">
                                <td>{{item.nombre}}</td>
                                <td>{{item.precio}}</td>
                            </tr>
                        </table>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">

            <div class="card">
                <picture>
                    <img sizes="(max-width: 800px) 100vw, 800px" srcset="
                    ./assets/imagenes/Mains/carnes-1_fplnae_c_scale,w_200.jpg 200w,
                    ./assets/imagenes/Mains/carnes-1_fplnae_c_scale,w_474.jpg 474w,
                    ./assets/imagenes/Mains/carnes-1_fplnae_c_scale,w_680.jpg 680w,
                    ./assets/imagenes/Mains/carnes-1_fplnae_c_scale,w_800.jpg 800w"
                        src="carnes-1_fplnae_c_scale,w_800.jpg" alt="" class="card-img-top">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Carnes</h5>
                    <div class="container">
                        <table>
                            <tr>
                                <th> Plato</th>
                                <th> Precio</th>
                            </tr>
                            <tr *ngFor="let item of carnes">
                                <td>{{item.nombre}}</td>
                                <td>{{item.precio}}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <picture>
                    <img sizes="(max-width: 800px) 100vw, 800px" srcset="
                ./assets/imagenes/Mains/pescados-1_q2dijq_c_scale,w_200.jpg 200w,
                ./assets/imagenes/Mains/pescados-1_q2dijq_c_scale,w_634.jpg 634w,
                ./assets/imagenes/Mains/pescados-1_q2dijq_c_scale,w_800.jpg 800w"
                        src="./assets/imagenes/Mains/pescados-1_q2dijq_c_scale,w_800.jpg" alt="" class="card-img-top">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Pescados</h5>
                    <div class="container">
                        <table>
                            <tr>
                                <th> Plato</th>
                                <th> Precio</th>
                            </tr>
                            <tr *ngFor="let item of pescados">
                                <td>{{item.nombre}}</td>
                                <td>{{item.precio}}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">

                <picture>
                    <img sizes="(max-width: 800px) 100vw, 800px" srcset="
                ./assets/imagenes/Mains/cuchara_m6yc1c_c_scale,w_200.jpg 200w,
                ./assets/imagenes/Mains/cuchara_m6yc1c_c_scale,w_566.jpg 566w,
                ./assets/imagenes/Mains/cuchara_m6yc1c_c_scale,w_770.jpg 770w,
                ./assets/imagenes/Mains/cuchara_m6yc1c_c_scale,w_800.jpg 800w"
                        src="./assets/imagenes/Mains/cuchara_m6yc1c_c_scale,w_800.jpg" alt="" class="card-img-top">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">De cuchara</h5>
                    <div class="container">
                        <table>
                            <tr>
                                <th> Plato</th>
                                <th> Precio</th>
                            </tr>
                            <tr *ngFor="let item of cuchara">
                                <td>{{item.nombre}}</td>
                                <td>{{item.precio}}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">


                <picture>
                    <img sizes="(max-width: 800px) 100vw, 800px" srcset="
                    ./assets/imagenes/Mains/postres-1_lleakr_c_scale,w_200.jpg 200w,
                    ./assets/imagenes/Mains/postres-1_lleakr_c_scale,w_528.jpg 528w,
                    ./assets/imagenes/Mains/postres-1_lleakr_c_scale,w_773.jpg 773w,
                    ./assets/imagenes/Mains/postres-1_lleakr_c_scale,w_800.jpg 800w"
                        src="./assets/imagenes/Mains/postres-1_lleakr_c_scale,w_800.jpg" alt="" class="card-img-top">
                </picture>

                <div class="card-body">
                    <h5 class="card-title">Postres</h5>
                    <div class="container">
                        <table>
                            <tr>
                                <th> Plato</th>
                                <th> Precio</th>
                            </tr>
                            <tr *ngFor="let item of postres">
                                <td>{{item.nombre}}</td>
                                <td>{{item.precio}}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">



                <picture>
                    <img sizes="(max-width: 800px) 100vw, 800px" srcset="
                    ./assets/imagenes/Mains/vinos-3_rfgqnc_c_scale,w_200.jpg 200w,
                    ./assets/imagenes/Mains/vinos-3_rfgqnc_c_scale,w_448.jpg 448w,
                    ./assets/imagenes/Mains/vinos-3_rfgqnc_c_scale,w_629.jpg 629w,
                    ./assets/imagenes/Mains/vinos-3_rfgqnc_c_scale,w_800.jpg 800w"
                        src="./assets/imagenes/Mains/vinos-3_rfgqnc_c_scale,w_800.jpg" alt="" class="card-img-top">
                </picture>


                <div class="card-body">
                    <h5 class="card-title">Vinos</h5>
                    <div class="container">
                        <table>
                            <tr>
                                <th> Vino</th>
                                <th> Precio</th>
                            </tr>
                            <tr *ngFor="let item of vinos">
                                <td>{{item.nombre}}</td>
                                <td>{{item.precio}}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>