picture {
    img {
        width: 100%;
        padding: 1%;
    }
}
#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paralax {
    background-image: url(../../assets/imagenes/Background/58837322-de-fondo-sin-fisuras-vector-con-el-modelo-de-filigrana-de-la-vendimia-para-el-diseño-impresión-borda.webp);
    height: 200px;
    background-size: cover;
    background-attachment: fixed;
    opacity: .6;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}