<h1>Bienvenido al restaurante Tacopo.</h1>
<picture>
    <img sizes="(max-width: 720px) 100vw, 720px" srcset="
        ./assets/imagenes/Restaurante/restaurante_cvhlil_c_scale,w_190.jpg 190w,
        ./assets/imagenes/Restaurante/restaurante_cvhlil_c_scale,w_459.jpg 459w,
        ./assets/imagenes/Restaurante/restaurante_cvhlil_c_scale,w_695.jpg 695w,
        ./assets/imagenes/Restaurante/restaurante_cvhlil_c_scale,w_720.jpg 720w"
        src="restaurante_cvhlil_c_scale,w_720.jpg" alt="">
</picture>

<div class="row g-5 ">
    <div class="col-sm-12 col-md-6" id="descripciones">
        <div class="container">
            <h2>Restaurante</h2>
            <h3> El gusto es suyo... </h3>
            <p>
                y desde 1885 lo tratamos con exquisito cuidado, mezclando en nuestros platos los sabores de una
                tradición centenaria y la innovación propia de la cocina actual.
            </p>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 " id="imagenes">
        <div class="container">
            <picture>
                <img sizes="(max-width: 800px) 100vw, 800px" srcset="
        ./assets/imagenes/Mains/entrantes-1_mxvyoy_c_scale,w_200.jpg 200w,
        ./assets/imagenes/Mains/entrantes-1_mxvyoy_c_scale,w_623.jpg 623w,
        ./assets/imagenes/Mains/entrantes-1_mxvyoy_c_scale,w_800.jpg 800w"
                    src="./assets/imagenes/Mains/entrantes-1_mxvyoy_c_scale,w_800.jpg" alt="">
            </picture>
            <a class="btn btn-primary" routerLink="menu" role="button">Ver los menús</a>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 ">
        <div class="container">
            <picture>
                <img sizes="(max-width: 800px) 100vw, 800px" srcset="
        ./assets/imagenes/Mains/entrantes-1_mxvyoy_c_scale,w_200.jpg 200w,
        ./assets/imagenes/Mains/entrantes-1_mxvyoy_c_scale,w_623.jpg 623w,
        ./assets/imagenes/Mains/entrantes-1_mxvyoy_c_scale,w_800.jpg 800w"
                    src="./assets/imagenes/Mains/entrantes-1_mxvyoy_c_scale,w_800.jpg" alt="">
            </picture>
            <a class="btn btn-primary" routerLink="menu" role="button">Finca para bodas</a>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 ">
        <div class="container">
            <h2>Bodas</h2>
            <h3>Para no olvidar...</h3>
            <p>o inolvidable: reuniones, eventos, la boda de sus sueños. Una atractiva variedad de espacios diáfanos y
                toda nuestra experiencia en la organización de actos. </p>
        </div>
    </div>
</div>